h1{
    color: blue;
}


.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;
}

p{
    color: #0222E6;
}

.footer{
        display: flex;
        justify-content: flex-end;
}
body{
    background-color: #E9914C;
}